/*.parentDiv{*/
    /*border-style: groove;*/
    /*width : 500px;*/
    /*height : 500px;*/
    /*display : flex;*/
    /*flex-direction: row;*/
    /*flex-wrap:  wrap;*/
/*}*/

/*.row{*/
    /*border-style: groove;*/
    /*!*width : 30px;*!*/
    /*!*height : 30px;*!*/
    /*display : flex;*/
    /*flex-direction: row;*/
    /*flex-wrap:  wrap;*/
/*}*/

/*.column{*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*width: 14px;*/
    /*height: 14px;*/
    /*border: 2px solid black;*/
/*}*/



.column {
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1px solid gray;

}
.colorDiv{
    display: flex;
    /*flex-direction: column;*/
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid gray;
}

.row {
    display: flex;
    width:340px;
    //height: 400px;
}
.parentDiv{
    display: flex;

}
.currentColorDiv{
    width: 40px;
    height: 15px;
    background-color: white;
    border: 1px solid gray;

}